#myCanvas {
    width: 800px;
    height: 400px;
    border: 1px solid cornflowerblue;
    display: block;
    margin: auto;
    /*background-color: black;*/
    background: url(img/backgruond.jpg);
}
span{
    display: inline;
}

p {
    font-size: 25px;
    text-align: center;
}

input {
    font-size: 25px;
    display: block;
    margin: auto;
}