#myCanvas {
    border: 1px solid cornflowerblue;
    display: block;
    margin: auto;
    background-color: #1D6F5A;
}

div {
    position: absolute;
}

span {
    display: inline;
}

p {
    font-size: 25px;
    left: 690px;
    position: absolute;
}

input {
    font-size: 25px;
    display: block;
    margin: auto;
}